<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>416084935374-mssmfj6qfurekaani3ict9dmpe2c027s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.416084935374-mssmfj6qfurekaani3ict9dmpe2c027s</string>
	<key>API_KEY</key>
	<string>AIzaSyCOS_XHJg8nPEoOHP77PRBox6vDf4ZsPPI</string>
	<key>GCM_SENDER_ID</key>
	<string>416084935374</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ErickMoralesL.Template.1.Dev</string>
	<key>PROJECT_ID</key>
	<string>template-dev-9b2fe</string>
	<key>STORAGE_BUCKET</key>
	<string>template-dev-9b2fe.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:416084935374:ios:8f546de3018675a0</string>
	<key>DATABASE_URL</key>
	<string>https://template-dev-9b2fe.firebaseio.com</string>
</dict>
</plist>